@import url('/home/nekorosys/.cache/wal/colors-waybar.css');
@import "/home/nekorosys/.config/wofi/style.css";

#input {
  opacity: 0;
  color: transparent;
  padding: 0;
  margin: 0;
  min-height: 0;
  min-width: 0;
}
